boto3
torch
streamlit
transformers
PyPDF4
flask
textblob

werkzeug>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.15 # not directly required, pinned by Snyk to avoid a vulnerability
